BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "spi_mosi_o" SITE "10" ;
IOBUF PORT "spi_mosi_o" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
LOCATE COMP "spi_clk_o" SITE "9" ;
IOBUF PORT "spi_clk_o" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
LOCATE COMP "led0" SITE "97" ;
LOCATE COMP "led1" SITE "98" ;
LOCATE COMP "led2" SITE "99" ;
LOCATE COMP "led3" SITE "100" ;
LOCATE COMP "led4" SITE "104" ;
LOCATE COMP "led5" SITE "105" ;
LOCATE COMP "led6" SITE "106" ;
LOCATE COMP "led7" SITE "107" ;
LOCATE COMP "reset_i" SITE "2" ;
IOBUF PORT "reset_i" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "w_Clk" SITE "109" ;
IOBUF PORT "w_Clk" IO_TYPE=LVCMOS33 ;
